
.recaptchacontainer {
    height: 450px;
    width: 500px;
  }
  
  h1[id='recaptcha'] {
    margin-bottom: 2px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(218, 218, 218);
  }
  
  .grid {
    display: grid;
    width: 230px;
    height: 250px;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 15px;
    gap: 5px;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 18px;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .box.selected {
    background-color: #ddd;
  }
  
  
  p[id='recaptcha'], p[id='select-recaptcha'] {
    font-size: 18px;
    font-weight: bold;
  }
  
  .recaptcha-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      height: 550px;
      width: 600px;
      padding-bottom: 25px;
      border: 1px solid rgb(255, 255, 255);
      background: linear-gradient(rgba(255, 255, 255, 0.129), rgba(122, 122, 122, 0.3)),#ffffff00;
      backdrop-filter: blur(0.5px);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  
    
  button[id='recaptcha'] {
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
  }
  
  button[id='recaptcha']:hover {
    background-color: #e69c13;
  }
  
  
  
  label[id='recaptcha']{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(207, 207, 207);
    font-size: 18px;
  
  }
  
  .recaptcha-check{
    display: flex;
    flex-direction: row;
  }
  
  label[id='recaptcha1'] {
    margin: 20px 30px 10px 10px;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    flex: 1;
  }