a[id="sociallink"] {
    display: inline-block;
    margin: 15px;
  }
  
  .icon {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  
  .social{
    background-color: #ccc;
    width: 100%;
  }

  .social a .icon:hover {
    transform: scale(1.2);
  }
  